
DATABASE_URL="postgresql://neondb_owner:npg_E54oaNjkfgHV@ep-morning-darkness-a49z3ked-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET="gPiexlE1HBtcYwrdgh4yifvwrYVCWVY5"


# Base URL of your application
BETTER_AUTH_URL="http://localhost:3000"
